Repository Spranc-Labs/heyho-sync-be: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, rspec, check-merge-conflict, check-debugger, check-console-log, check-todo

rubocop:
  run: bundle exec rubocop {staged_files}
  skip:
  - merge
  - rebase
  fail_text: RuboCop found style violations. Run 'make lint:fix' to auto-fix.

rspec:
  run: bundle exec rspec {staged_files}
  skip:
  - merge
  - rebase
  fail_text: Tests are failing. Please fix before committing.

check-merge-conflict:
  run: grep -H -n "^<<<<<<< " {staged_files} && exit 1 || exit 0
  fail_text: Merge conflict markers detected. Please resolve conflicts before committing.

check-debugger:
  run: grep -H -n -E "(binding\.(pry|irb|remote_pry)|debugger|byebug|save_and_open_page)" {staged_files} && exit 1 || exit 0
  fail_text: Debugger statements detected. Please remove before committing.

check-console-log:
  run: grep -H -n "console\.(log|debug|info|warn|error)" {staged_files} && exit 1 || exit 0
  fail_text: Console statements detected. Please remove before committing.

check-todo:
  run: grep -H -n -E "(TODO|FIXME|HACK|XXX|OPTIMIZE|REVIEW)" {staged_files} || exit 0
  skip_output: false
  fail_text: TODO comments found. Consider addressing them or creating tickets.

fix: convert Postman collection URLs to string format for variable compatibility
  postman/HeyHo_Sync_API.postman_collection.json
Due: check-merge-conflict

docs: improve Postman collection import instructions and troubleshooting
  postman/README.md
Due: check-merge-conflict

fix: rebuild Postman collection with correct v2.1.0 schema structure
  postman/HOW_TO_GET_POSTMAN_LOGS.md
  postman/HeyHo_Sync_API.postman_collection.json
Due: check-merge-conflict

docs: update README to reflect streamlined collection structure
  postman/README.md
Due: check-merge-conflict

chore: remove Postman collection files
  postman/HOW_TO_GET_POSTMAN_LOGS.md
  postman/HeyHo_Sync_API.postman_collection.json
  postman/HeyHo_Sync_API.postman_environment.json
  postman/README.md
Due: check-merge-conflict

chore: improve code quality with RuboCop fixes and CI tooling
  .rubocop.yml
  .vscode/tasks.json
  app/services/data_sanitization_service.rb
  app/services/data_validation_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: resolve all RuboCop violations in insights services
  app/services/insights/productivity_hours_service.rb
  app/services/insights/recent_activity_service.rb
  app/services/insights/top_sites_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

security: fix high-priority vulnerabilities in insights services
  app/services/insights/productivity_hours_service.rb
  app/services/insights/recent_activity_service.rb
  app/services/insights/top_sites_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

refactor: improve insights services data quality and reliability
  app/services/insights/productivity_hours_service.rb
  app/services/insights/recent_activity_service.rb
  app/services/insights/top_sites_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

test: add comprehensive edge case tests and improve error handling
  app/services/insights/productivity_hours_service.rb
  app/services/insights/recent_activity_service.rb
  app/services/insights/top_sites_service.rb
  spec/services/insights/productivity_hours_service_spec.rb
  spec/services/insights/recent_activity_service_spec.rb
  spec/services/insights/top_sites_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

feat: add categorization and metadata support with comprehensive tests
  app/services/data_sync_service.rb
  app/services/data_validation_service.rb
  db/migrate/20251020172019_add_categorization_to_page_visits.rb
  spec/factories/page_visits.rb
  spec/models/page_visit_spec.rb
  spec/services/data_sync_service_spec.rb
  spec/services/data_validation_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

feat: add categorization and metadata support to PageVisit model
  app/models/page_visit.rb
  app/services/data_sync_service.rb
  app/services/data_validation_service.rb
  db/migrate/20251020172019_add_categorization_to_page_visits.rb
  db/migrate/20251020172053_add_metadata_to_page_visits.rb
  db/schema.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: improve categorization data handling and validation
  app/services/data_sync_service.rb
  app/services/data_validation_service.rb
  docs/reqts/security/00-security-first-overview.md
  docs/reqts/security/business-model-with-encryption.md
  docs/reqts/security/defense-in-depth-security.md
  docs/reqts/security/encryption-at-rest-impact-on-features.md
  docs/reqts/security/encryption-explained-simply.md
  docs/reqts/security/how-real-products-handle-security.md
  docs/reqts/security/hybrid-encryption-architecture.md
  docs/reqts/security/mvp-first-vs-security-first.md
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add Phase 3 database migrations and implementation plan
  db/migrate/20251022000001_create_reading_list_items.rb
  db/migrate/20251022000002_create_research_sessions.rb
  db/migrate/20251022000003_create_research_session_tabs.rb
  docs/reqts/phase-3/IMPLEMENTATION_PLAN.md
Due: rubocop, check-merge-conflict, check-debugger, check-todo

refactor: remove debug logging from data sync service
  app/services/data_sync_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: update CI workflow to run migrations instead of schema load
  .github/workflows/ci.yml
Due: check-merge-conflict

Revert "feat: add Phase 3 database migrations and implementation plan"
  .github/workflows/ci.yml
  db/migrate/20251022000001_create_reading_list_items.rb
  db/migrate/20251022000002_create_research_sessions.rb
  db/migrate/20251022000003_create_research_session_tabs.rb
  docs/reqts/phase-3/IMPLEMENTATION_PLAN.md
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: correct test data to match validation requirements
  spec/services/data_validation_service_spec.rb
  spec/services/insights/productivity_hours_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

feat: add research sessions CRUD API endpoints
  app/controllers/api/v1/research_sessions_controller.rb
  config/routes.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: update detection services to use correct PageVisit schema
  app/services/hoarder_detection_service.rb
  app/services/research_session_detection_service.rb
  app/services/serial_opener_detection_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add Phase 3 pattern detection services
  app/services/hoarder_detection_service.rb
  app/services/research_session_detection_service.rb
  app/services/serial_opener_detection_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add reading list CRUD API endpoints
  app/controllers/api/v1/reading_list_items_controller.rb
  config/routes.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: use AuthenticatedController for Phase 3 API controllers
  app/controllers/api/v1/pattern_detections_controller.rb
  app/controllers/api/v1/reading_list_items_controller.rb
  app/controllers/api/v1/research_sessions_controller.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add Phase 3 models with validations and associations
  app/models/reading_list_item.rb
  app/models/research_session.rb
  app/models/research_session_tab.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add pattern detection API endpoints
  .rubocop.yml
  app/controllers/api/v1/pattern_detections_controller.rb
  config/routes.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

docs: add comprehensive Postman testing guide for Phase 3 APIs
  docs/POSTMAN_TESTING_GUIDE.md
Due: check-merge-conflict

fix: rename valid? method to avoid ActiveRecord conflict
  app/models/authorization_code.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add OAuth2 authorization endpoints for Syrupy integration
  app/controllers/api/v1/oauth_controller.rb
  app/models/authorization_code.rb
  config/routes.rb
  db/migrate/20251028215335_create_authorization_codes.rb
  db/schema.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: allow heyho-sync-be hostname for OAuth service-to-service communication
  config/environments/development.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: implement password-based OAuth authorization
  app/controllers/api/v1/oauth_controller.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: use BCrypt directly to avoid method name conflicts
  app/controllers/api/v1/oauth_controller.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: correct authentication callback name in OauthController
  app/controllers/api/v1/oauth_controller.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

Path conditions:
  rubocop: any of: *.rb
  rspec: any of: spec/**/*.rb
  check-merge-conflict: any of: **/*
  check-debugger: any of: *.rb
  check-console-log: any of: *.{js,jsx,ts,tsx}
  check-todo: any of: *.{rb,js,jsx,ts,tsx}
