Repository Spranc-Labs/heyho-sync-be: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, rspec, check-merge-conflict, check-debugger, check-console-log, check-todo

Path conditions:
  rubocop: any of: *.rb
  rspec: any of: spec/**/*.rb
  check-merge-conflict: any of: **/*
  check-debugger: any of: *.rb
  check-console-log: any of: *.{js,jsx,ts,tsx}
  check-todo: any of: *.{rb,js,jsx,ts,tsx}

feat: complete Phase 3 smart resources with insights system
  .vscode/tasks.json
  app/controllers/api/v1/pattern_detections_controller.rb
  app/jobs/refresh_personal_whitelists_job.rb
  app/models/personal_whitelist.rb
  app/models/tab_aggregate.rb
  app/services/data_sync_service.rb
  app/services/hoarder_detection_service.rb
  app/services/insights/adaptive_threshold_calculator.rb
  app/services/insights/comparison_calculator.rb
  app/services/insights/date_range_helper.rb
  app/services/insights/domain_context_analyzer.rb
  app/services/insights/hoarder_scorer.rb
  app/services/insights/routine_detector.rb
  app/services/insights/serial_opener_insight_generator.rb
  app/services/insights/serial_opener_insights_service.rb
  app/services/insights/tab_age_calculator.rb
  app/services/insights/value_ranker.rb
  app/services/serial_opener_detection_service.rb
  db/migrate/20251027000001_create_personal_whitelists.rb
  db/migrate/20251028000001_allow_null_closed_at_for_tab_aggregates.rb
  db/schema.rb
  db/seeds/hoarder_test_data.rb
  docs/POSTMAN_TESTING_GUIDE.md
  docs/SERIAL_OPENER_INSIGHTS_DESIGN.md
  docs/SMART_WHITELISTING.md
  scripts/monitor_sync.rb
  spec/factories/reading_list_items.rb
  spec/factories/tab_aggregates.rb
  spec/requests/pattern_detections_spec.rb
  spec/services/hoarder_detection_service_spec.rb
  spec/services/insights/adaptive_threshold_calculator_spec.rb
  spec/services/insights/date_range_helper_spec.rb
  spec/services/insights/domain_context_analyzer_spec.rb
  spec/services/insights/hoarder_scorer_spec.rb
  spec/services/insights/serial_opener_insights_service_spec.rb
  spec/services/insights/tab_age_calculator_spec.rb
  week-comparison.json
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

fix: use AuthenticatedController for Phase 3 API controllers
  app/controllers/api/v1/pattern_detections_controller.rb
  app/controllers/api/v1/reading_list_items_controller.rb
  app/controllers/api/v1/research_sessions_controller.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: improve tab hoarder detection accuracy and data quality
  .vscode/tasks.json
  CLAUDE.md
  app/controllers/api/v1/oauth_controller.rb
  app/controllers/api/v1/pattern_detections_controller.rb
  app/controllers/concerns/authentication.rb
  app/models/authorization_code.rb
  app/models/user.rb
  app/services/data_sync_service.rb
  app/services/data_validation_service.rb
  app/services/insights/adaptive_threshold_calculator.rb
  app/services/insights/hoarder_scorer.rb
  app/services/insights/tab_age_calculator.rb
  app/services/serial_opener_detection_service.rb
  backups/user_data/demo_at_syrupy_com_20251029_060600.json
  backups/user_data/demo_at_syrupy_com_20251029_060939.json
  db/migrate/20251029060348_add_opened_at_to_page_visits.rb
  db/schema.rb
  lib/tasks/backup_user_data.rake
  lib/tasks/debug_hoarder_detection.rake
  spec/services/insights/adaptive_threshold_calculator_spec.rb
  spec/services/insights/serial_opener_insights_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

chore: ignore backup files and remove from version control
  .gitignore
  backups/user_data/demo_at_syrupy_com_20251029_060600.json
  backups/user_data/demo_at_syrupy_com_20251029_060939.json
Due: check-merge-conflict

feat: add pattern detection API endpoints
  .rubocop.yml
  app/controllers/api/v1/pattern_detections_controller.rb
  config/routes.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add Phase 3 models with validations and associations
  app/models/reading_list_item.rb
  app/models/research_session.rb
  app/models/research_session_tab.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

feat: add Phase 3 pattern detection services
  app/services/hoarder_detection_service.rb
  app/services/research_session_detection_service.rb
  app/services/serial_opener_detection_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

docs: add comprehensive Postman testing guide for Phase 3 APIs
  docs/POSTMAN_TESTING_GUIDE.md
Due: check-merge-conflict

feat: add reading list CRUD API endpoints
  app/controllers/api/v1/reading_list_items_controller.rb
  config/routes.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: update detection services to use correct PageVisit schema
  app/services/hoarder_detection_service.rb
  app/services/research_session_detection_service.rb
  app/services/serial_opener_detection_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

refactor: remove legacy hoarder detection code
  app/controllers/api/v1/pattern_detections_controller.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

refactor: remove all legacy detection code and simplify controller
  app/controllers/api/v1/pattern_detections_controller.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

refactor: disable personal whitelist feature
  app/jobs/refresh_personal_whitelists_job.rb
  app/services/insights/domain_context_analyzer.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: auto-correct RuboCop indentation offenses after services reorganization
  app/services/concerns/date_range_helper.rb
  app/services/data_processing/data_sanitization_service.rb
  app/services/data_processing/data_sync_service.rb
  app/services/data_processing/data_validation_service.rb
  app/services/detections/hoarder_detection_service.rb
  app/services/detections/research_session_detection_service.rb
  app/services/detections/serial_opener_detection_service.rb
  app/services/insights/analyzers/domain_context_analyzer.rb
  app/services/insights/analyzers/hoarder_scorer.rb
  app/services/insights/analyzers/routine_detector.rb
  app/services/insights/analyzers/value_ranker.rb
  app/services/insights/calculators/adaptive_threshold_calculator.rb
  app/services/insights/calculators/comparison_calculator.rb
  app/services/insights/calculators/tab_age_calculator.rb
  app/services/insights/serial_openers/serial_opener_insight_generator.rb
  app/services/insights/serial_openers/serial_opener_insights_service.rb
  app/services/insights/summaries/daily_summary_service.rb
  app/services/insights/summaries/productivity_hours_service.rb
  app/services/insights/summaries/recent_activity_service.rb
  app/services/insights/summaries/top_sites_service.rb
  app/services/insights/summaries/weekly_summary_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: update spec files to use new service namespaces
  spec/services/concerns/date_range_helper_spec.rb
  spec/services/data_processing/data_sanitization_service_spec.rb
  spec/services/insights/analyzers/domain_context_analyzer_spec.rb
  spec/services/insights/serial_openers/serial_opener_insights_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

fix: resolve test failures by fixing host authorization and test configuration
  config/environments/development.rb
  config/environments/test.rb
  spec/rails_helper.rb
  spec/requests/pattern_detections_spec.rb
  spec/support/database_cleaner.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

fix: resolve final 5 test failures to achieve 538 passing tests
  app/services/authentication/email_verification_service.rb
  app/services/authentication/password_reset_service.rb
  spec/requests/pattern_detections_spec.rb
  spec/services/insights/analyzers/hoarder_scorer_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

fix: resolve config.hosts.clear error in CI by setting hosts to nil in test env
  config/environments/test.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: resolve RuboCop offenses for CI compliance
  app/controllers/api/v1/oauth_controller.rb
  app/services/detections/hoarder_detection_service.rb
  app/services/detections/serial_opener_detection_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

fix: add rubocop excludes for pre-existing code quality issues
  .rubocop.yml
Due: none

feat: add preview metadata extraction and debugging tools
  app/controllers/api/v1/data_sync_controller.rb
  app/services/data_processing/data_sync_service.rb
  app/services/detections/hoarder_detection_service.rb
  app/services/insights/analyzers/domain_context_analyzer.rb
  app/services/insights/analyzers/hoarder_scorer.rb
  scripts/README.md
  scripts/check_sync_status.js
  scripts/debug_sync_flow.js
  scripts/inspect_indexeddb.js
  scripts/reset_indexeddb_sync_status.js
  scripts/reset_sync_simple.js
Due: rubocop, check-merge-conflict, check-debugger, check-console-log, check-todo
