Repository Spranc-Labs/heyho-sync-be: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, rspec, check-merge-conflict, check-debugger, check-console-log, check-todo

rubocop:
  run: bundle exec rubocop {staged_files}
  skip:
  - merge
  - rebase
  fail_text: RuboCop found style violations. Run 'make lint:fix' to auto-fix.

rspec:
  run: bundle exec rspec {staged_files}
  skip:
  - merge
  - rebase
  fail_text: Tests are failing. Please fix before committing.

check-merge-conflict:
  run: grep -H -n "^<<<<<<< " {staged_files} && exit 1 || exit 0
  fail_text: Merge conflict markers detected. Please resolve conflicts before committing.

check-debugger:
  run: grep -H -n -E "(binding\.(pry|irb|remote_pry)|debugger|byebug|save_and_open_page)" {staged_files} && exit 1 || exit 0
  fail_text: Debugger statements detected. Please remove before committing.

check-console-log:
  run: grep -H -n "console\.(log|debug|info|warn|error)" {staged_files} && exit 1 || exit 0
  fail_text: Console statements detected. Please remove before committing.

check-todo:
  run: grep -H -n -E "(TODO|FIXME|HACK|XXX|OPTIMIZE|REVIEW)" {staged_files} || exit 0
  skip_output: false
  fail_text: TODO comments found. Consider addressing them or creating tickets.

fix: update RuboCop configuration
  .rubocop.yml
  Gemfile
Due: none

fix: update dependencies and RuboCop config for Docker compatibility
  .rubocop.yml
  Gemfile
  Gemfile.lock
Due: none

feat: add Docker-based pre-commit hooks
  .lefthook-local.yml
  scripts/pre-commit.sh
Due: check-merge-conflict

refactor: simplify git hooks setup
  .lefthook-local.yml
  Gemfile
  Makefile
  lefthook.yml
Due: none

fix: add all make targets to PHONY for proper task detection
  Makefile
Due: none

fix: update GitHub Actions to use non-deprecated versions
  .github/workflows/quality-checks.yml
  Gemfile.lock
Due: check-merge-conflict

fix: make CI pipeline work before Rails app initialization
  .github/workflows/quality-checks.yml
Due: check-merge-conflict

docs: add comprehensive Docker setup documentation
  README.md
  specs/tools/docker-setup-guide.md
Due: check-merge-conflict

feat: add comprehensive VS Code tasks configuration
  .gitignore
  .vscode/tasks.json
Due: check-merge-conflict

docs: update project setup to reflect Docker-based development
  specs/phase-1/01-project-setup.md
Due: check-merge-conflict

feat: add multi-environment support and improved documentation
  .env.example
  .gitignore
  ENVIRONMENT_SETUP.md
  Gemfile
  Gemfile.lock
  Makefile
  README.md
  bin/docker-env
  config/database.yml
  config/environments/staging.rb
  docker-compose.production.yml
  docker-compose.staging.yml
  docker-compose.yml
Due: rubocop, check-merge-conflict, check-debugger, check-todo

refactor: reorganize environment files and documentation
  .gitignore
  Makefile
  README.md
  bin/docker-env
  config/env/.env.example
  docker-compose.production.yml
  docker-compose.staging.yml
  docker-compose.yml
  specs/resources/environment_setup.md
Due: check-merge-conflict

feat: implement password reset with 6-digit codes and fix security issue
  app/controllers/api/v1/password_reset_controller.rb
  app/models/user_password_reset_key.rb
  app/services/authentication/email_verification_service.rb
  app/services/authentication/password_reset_service.rb
  config/rodauth/rodauth_main.rb
  config/routes.rb
  spec/requests/password_reset_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

feat: add data sync API for page visits and tab aggregates
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/data_sync_controller.rb
  app/models/page_visit.rb
  app/models/tab_aggregate.rb
  app/services/data_sync_service.rb
  config/routes.rb
  db/migrate/20251002112408_create_page_visits.rb
  db/migrate/20251002112437_create_tab_aggregates.rb
  db/migrate/20251012125552_change_page_visits_id_to_string.rb
  db/schema.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

Add curl to Dockerfile for health checks
  .vscode/tasks.json
  Dockerfile
Due: check-merge-conflict

Fix CI: Remove reference to ignored .rubocop_todo.yml file
  .rubocop.yml
Due: none

feat: add seed file with development setup instructions
  db/seeds.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

refactor: apply RuboCop fixes and improve code quality
  app/controllers/api/v1/browsing_data_controller.rb
  app/controllers/api/v1/data_sync_controller.rb
  app/controllers/api/v1/insights_controller.rb
  app/models/page_visit.rb
  app/models/tab_aggregate.rb
  app/services/data_sync_service.rb
  db/seeds.rb
  spec/requests/password_reset_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

feat(phase-2): implement sync optimization with tracking and conflict resolution
  app/controllers/api/v1/data_sync_controller.rb
  app/models/sync_log.rb
  app/services/data_sync_service.rb
  db/migrate/20251019123356_create_sync_logs.rb
  db/schema.rb
  spec/factories/sync_logs.rb
  spec/factories/users.rb
  spec/models/sync_log_spec.rb
  spec/rails_helper.rb
  spec/services/data_sync_service_spec.rb
  spec/spec_helper.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

fix: remove updated_at from upsert update_only to avoid duplicate assignment error
  app/services/data_sync_service.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

style: fix all RuboCop violations in spec files
  spec/factories/sync_logs.rb
  spec/models/sync_log_spec.rb
  spec/rails_helper.rb
  spec/services/data_sync_service_spec.rb
  spec/spec_helper.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

chore: add git hooks for RuboCop pre-commit checks
  .githooks/README.md
  .githooks/install.sh
  .githooks/pre-commit
  README.md
Due: check-merge-conflict

test: verify pre-commit hook allows clean code
  app/models/test_hook.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

chore: remove test file for pre-commit hook verification
  app/models/test_hook.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

test: configure FactoryBot and Shoulda matchers, fix test expectations
  spec/rails_helper.rb
  spec/services/data_sync_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

ci: add GitHub Actions workflow for automated testing
  .github/workflows/ci.yml
Due: check-merge-conflict

fix: allow Ruby 3.2.x versions in Gemfile for CI compatibility
  Gemfile
Due: none

feat(week-2): implement data quality and validation system
  app/models/sync_log.rb
  app/services/data_sanitization_service.rb
  app/services/data_sync_service.rb
  app/services/data_validation_service.rb
  db/migrate/20251019140751_add_validation_errors_to_sync_logs.rb
  db/schema.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

test: add comprehensive tests for data quality and validation system
  spec/models/sync_log_spec.rb
  spec/services/data_sanitization_service_spec.rb
  spec/services/data_validation_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

fix: update pre-commit hook to work in both standalone and nested repo contexts
  .githooks/pre-commit
Due: check-merge-conflict

style: fix RuboCop context wording violations in sanitization service spec
  spec/services/data_sanitization_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

fix: update pre-commit hook to use correct docker-compose service name
  .githooks/pre-commit
Due: check-merge-conflict

feat(week-3): implement basic insights APIs with service objects
  app/controllers/api/v1/insights_controller.rb
  app/models/page_visit.rb
  app/services/insights/daily_summary_service.rb
  app/services/insights/productivity_hours_service.rb
  app/services/insights/recent_activity_service.rb
  app/services/insights/top_sites_service.rb
  app/services/insights/weekly_summary_service.rb
  config/routes.rb
  db/migrate/20251019154356_add_indexes_for_insights_queries.rb
  db/schema.rb
Due: rubocop, check-merge-conflict, check-debugger, check-todo

test(week-3): add comprehensive tests for insights APIs
  .rubocop.yml
  app/models/page_visit.rb
  app/services/insights/weekly_summary_service.rb
  spec/factories/page_visits.rb
  spec/requests/insights_spec.rb
  spec/services/insights/daily_summary_service_spec.rb
  spec/services/insights/productivity_hours_service_spec.rb
  spec/services/insights/recent_activity_service_spec.rb
  spec/services/insights/top_sites_service_spec.rb
  spec/services/insights/weekly_summary_service_spec.rb
Due: rubocop, rspec, check-merge-conflict, check-debugger, check-todo

test(week-3): add comprehensive Postman collection for Insights API testing
  postman/HeyHo_Sync_API.postman_collection.json
  postman/HeyHo_Sync_API.postman_environment.json
  postman/README.md
Due: check-merge-conflict

fix: correct Postman collection URL format for variable support
  postman/HeyHo_Sync_API.postman_collection.json
Due: check-merge-conflict

Path conditions:
  rubocop: any of: *.rb
  rspec: any of: spec/**/*.rb
  check-merge-conflict: any of: **/*
  check-debugger: any of: *.rb
  check-console-log: any of: *.{js,jsx,ts,tsx}
  check-todo: any of: *.{rb,js,jsx,ts,tsx}
